<div class="wishlist">
    <button style="border: none; background:none;" routerLink="/wishlist">
        <i class="far fa-heart" style="color:white; font-size: xx-large;"></i>
        <div style="font-size: 10px; border-radius: 100%;" class="badge bg-danger" >{{wishlistNumber}}</div>
   </button> &nbsp;
</div>
<div class="cart">
   <button style="border: none; background:none" routerLink="/cart">
         <i class="fa-sharp fa-solid fa-cart-shopping "style="color: white; font-size: xx-large;"></i>
         <div style="font-size: 10px; border-radius: 100%;" class="badge bg-danger">{{cartNumber}}</div>
    </button> &nbsp;
</div>

<div>
    <div class="container">
        <div class="row">

            <ng-container *ngFor="let item of productList">
                <div class="card col-md-4">
                    
                    <a href="book-details"  title="{{item.title}}"><img src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}" alt="coverFileName" class="image" (mouseover)="'{{item.title}}'"></a>


                    <a href="book-details"><h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">&nbsp;{{item.title}}</h6></a>

                    <p>&nbsp; ${{item.price}}</p>
                    
                    
                    <i class="fa-solid fa-heart wishimg" (click)="addwishlistcolor(item)" [ngStyle]="{'color':item.color ? 'red' : 'gray' }" ></i>

                    <button class="btn btn-primary" (click)="addTocart(item)"> <i class="fa-sharp fa-solid fa-cart-shopping" ></i> &nbsp; Add to Cart</button>

                    
                </div>
            </ng-container>
        </div>
            
    </div>
</div>

<router-outlet></router-outlet>
