<div>
    <div class="container">
        <div class="row">

            <ng-container *ngFor="let item of booklist">
                <div class="card col-md-4">
                    <img src="https://bookcart.azurewebsites.net/Upload/8f5f8b64-794c-4dbb-b369-6cc9cc762ce0HP5.jpg" alt="coverFileName">


                    <a href="book-details"><h6 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">&nbsp;{{item.title}}</h6></a>

                    <p>&nbsp; ${{item.price}}</p>

                    <i class="far fa-heart fas-img"></i>

                    <button class="btn btn-primary"> <i class="fa-sharp fa-solid fa-cart-shopping" (click)="addTocart(item)"></i> &nbsp; Add to Cart</button>
                    
                </div>
            </ng-container>
        </div>
            
    </div>
</div>

