.title_container {
    padding: 8px 20px 8px 20px;
    width: 1110px;
    height: 54px;
    background-color: #ff4081;
}

.title {
    width: 1070px;
    height: 38px;
    font-size: 16px;
    color: white;
    font-family: Roboto, Helvetica Neue, sans-serif;
    line-height: 1.5;
}

.main_container {
    width: 1110px;
    height: 515px;
}

.ordersummary {
    width: 503px;
    height: 36px;
    font-size: 25px;
}